.App {
    display: flex;
    max-width: 43vw;
    margin: 0 auto;
}

.card {
    border: 2px solid white;
}

.active {
    box-shadow: 4px 2px 2px 1px rgb(105, 183, 154), -4px 2px 2px 1px rgb(105, 183, 154);
    z-index: 2;
    width: 11.5rem;
}
