.container {
    border: 1px solid white;
}

.name {
    background-color: #229cab;
    color:white;
    border-bottom: 1px solid white;
    padding:0 0.5rem;
}

.price {
    background-color: #2cc1d5;
    color:white;
    padding: 0.8rem 1rem;
    position:relative;
    font-size: 2.5rem;
}

.priceRub {
    font-size: 0.7rem;
    position: absolute;
    top:2rem;
    left:1.5rem;
}

.priceMonth {
    font-size: 0.7rem;
    position: absolute;
    bottom:2rem;
}

.speed {
    background-color: #f8f8f8;
    color:#848484;
    font-size: 0.7rem;
}

.value {
    background-color: #eeeeee;
    color:#848484;
    font-size: 0.7rem;
}

p {
    margin: 0;
}